.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  // ❗️❗️❗️ The path to images from a SASS file
  // is always the same as from the css folder.
  background-image: url('../images/logo.png');
  background-size: cover;
  background-position: center;
}

// add

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px
}

@media (min-width: 320px) and (max-width:767px) {
  .container {
      min-width:320px
  }
}

@media (min-width: 768px) and (max-width:1023px) {
  .container {
      min-width:768px;
      padding-left: 15px;
      padding-right: 15px
  }
}

@media (min-width: 1024px) {
  .container {
      max-width:1024px;
      padding-left: 15px;
      padding-right: 15px
  }
}

main {
  flex-grow: 1
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column
}

body.is-open {
  overflow: hidden
}

b,h1,h2,h3,p,ul {
  margin: 0;
  padding: 0
}

ul {
  list-style: none
}

img {
  display: block;
  max-width: 100%;
  height: auto
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 30px;
  height: 12px;
  border-radius: 4px;
  padding: 0;
  margin-left: auto
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #333;
  border-radius: inherit;
  cursor: pointer
}

.theme-switch__marker {
  position: relative;
  background-color: #ff6b01;
  width: 15px;
  height: 10px;
  border-radius: 4px;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0,0,0,.25);
  transform: translateX(1px);
  transition: transform .25s var(--timing-function)
}

.theme-switch__toggle:checked+.theme-switch__track {
  background-color: #fff
}

.theme-switch__toggle:checked~.theme-switch__marker {
  transform: translateX(15px)
}

.theme-switch__toggle:active+.theme-switch__track,.theme-switch__toggle:focus+.theme-switch__track {
  box-shadow: 0 0 0 3px #ff6b01
}

body.dark-theme {
  background-color: #333
}

body.dark-theme .film__title {
  color: #fff
}

body.dark-theme .pagination__list {
  background-color: #333
}

body.dark-theme .pagination__item {
  color: #fff
}

body.dark-theme .next,body.dark-theme .prev {
  background-color: unset
}

body.dark-theme .next,body.dark-theme .prev {
  // background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyLjY2NyA4SDMuMzMzTTggMTIuNjY3TDMuMzMzIDggOCAzLjMzMyIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEuMzMzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=) no-repeat 50%
}

body.dark-theme .next {
  transform: rotate(180deg)
}

body.dark-theme .footer {
  color: #fff;
 
}

body.dark-theme .footer__text:last-child {
  color: #ff6b01
}

body.dark-theme .modal {
  background-color: #333;
  color: #fff
}

body.dark-theme .btn__close {
  background-color: #333;
  stroke: #fff
}

body.dark-theme .film-info__value,body.dark-theme .modal__title {
  color: #fff
}

body.dark-theme .content-list__item--value {
  color: #fff;
  opacity: .7
}

body.dark-theme .modal__btn--queue {
  color: #fff;
  background: #333;
  border: 1px solid #fff
}

body.dark-theme .lightbox__fourrowel {
  background-color: #333;
  border: 1px solid #ff6b01
}

body.dark-theme .lightbox__title {
  color: #fff
}

body.dark-theme .lightbox__content {
  background-color: #333;
  opacity: 1
}

body.dark-theme .comcontent__name {
  color: #fff
}

body.dark-theme .sociallinks__icon {
  fill: #fff
}

body.dark-theme .sociallinks__icon:focus,body.dark-theme .sociallinks__icon:hover {
  fill: #ff6b01
}

body.dark-theme .lightbox__button:focus,body.dark-theme .lightbox__button:hover {
  background-color: #fff;
  box-shadow: 0 3px 1px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.08),0 2px 2px rgba(0,0,0,.12)
}

.header {
  width: 100%;
  background-color: #000;
  font-family: Roboto;
  font-weight: 500;
  color: #fff
}

.header-container--home {
  padding: 34px 20px 97px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
 // background-image: linear-gradient(90deg,rgba(0,0,0,.56),rgba(0,0,0,.56)),url(images/mobile/header.jpg)
}

@media screen and (-webkit-min-device-pixel-ratio: 2),screen and (min-device-pixel-ratio:2),screen and (min-resolution:2dppx),screen and (min-resolution:192dpi) {
  .header-container--home {
      //background-image:linear-gradient(90deg,rgba(0,0,0,.56),rgba(0,0,0,.56)),url(images/mobile/header@2x.jpg)
  }
}

@media (min-width: 768px) and (max-width:1023px) {
  .header-container--home {
      padding:30px 75px 97px 70px;
      //background-image: linear-gradient(90deg,rgba(0,0,0,.56),rgba(0,0,0,.56)),url(images/tablet/header.jpg)
  }
}

@media screen and (min-width: 768px) and (max-width:1023px) and (-webkit-min-device-pixel-ratio:2),screen and (min-width:768px) and (max-width:1023px) and (min-device-pixel-ratio:2),screen and (min-width:768px) and (max-width:1023px) and (min-resolution:2dppx),screen and (min-width:768px) and (max-width:1023px) and (min-resolution:192dpi) {
  .header-container--home {
      //background-image:linear-gradient(90deg,rgba(0,0,0,.56),rgba(0,0,0,.56)),url(images/tablet/header@2x.jpg)
  }
}

@media (min-width: 1024px) {
  .header-container--home {
      padding:30px 70px 97px;
      // background-image: linear-gradient(90deg,rgba(0,0,0,.56),rgba(0,0,0,.56)),url(images/desktop/header.jpg)
  }
}

@media screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio:2),screen and (min-width:1024px) and (min-device-pixel-ratio:2),screen and (min-width:1024px) and (min-resolution:2dppx),screen and (min-width:1024px) and (min-resolution:192dpi) {
  .header-container--home {
      // background-image:linear-gradient(90deg,rgba(0,0,0,.56),rgba(0,0,0,.56)),url(images/desktop/header@2x.jpg)
  }
}

.header-container--library {
  padding: 34px 20px 65px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  //background-image: linear-gradient(90deg,rgba(0,0,0,.56),rgba(0,0,0,.56)),url(images/mobile/headerLib.jpg)
}

@media screen and (-webkit-min-device-pixel-ratio: 2),screen and (min-device-pixel-ratio:2),screen and (min-resolution:2dppx),screen and (min-resolution:192dpi) {
  .header-container--library {
      //background-image:linear-gradient(90deg,rgba(0,0,0,.56),rgba(0,0,0,.56)),url(images/mobile/headerLib@2x.jpg)
  }
}

@media (min-width: 768px) and (max-width:1023px) {
  .header-container--library {
      padding:30px 75px 65px 70px;
     // background-image: linear-gradient(90deg,rgba(0,0,0,.56),rgba(0,0,0,.56)),url(images/tablet/headerLib.jpg)
  }
}

@media screen and (min-width: 768px) and (max-width:1023px) and (-webkit-min-device-pixel-ratio:2),screen and (min-width:768px) and (max-width:1023px) and (min-device-pixel-ratio:2),screen and (min-width:768px) and (max-width:1023px) and (min-resolution:2dppx),screen and (min-width:768px) and (max-width:1023px) and (min-resolution:192dpi) {
  .header-container--library {
      //background-image:linear-gradient(90deg,rgba(0,0,0,.56),rgba(0,0,0,.56)),url(images/tablet/headerLib@2x.jpg)
  }
}

@media (min-width: 1024px) {
  .header-container--library {
      padding:30px 70px 65px;
     // background-image: linear-gradient(90deg,rgba(0,0,0,.56),rgba(0,0,0,.56)),url(images/desktop/headerLib.jpg)
  }
}

@media screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio:2),screen and (min-width:1024px) and (min-device-pixel-ratio:2),screen and (min-width:1024px) and (min-resolution:2dppx),screen and (min-width:1024px) and (min-resolution:192dpi) {
  .header-container--library {
      //background-image:linear-gradient(90deg,rgba(0,0,0,.56),rgba(0,0,0,.56)),url(images/desktop/headerLib@2x.jpg)
  }
}

.header-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
  margin-bottom: 27px
}

.header-nav-container--library {
  margin-bottom: 43px
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center
}

.header__logo {
  cursor: pointer
}

@media (min-width: 768px) {
  .header__logo {
      margin-right:10px
  }
}

.header__title {
  display: none;
  font-size: 30px;
  line-height: 1.17;
  font-weight: 500;
  color: #fff;
  cursor: pointer
}

@media (min-width: 768px) {
  .header__title {
      display:block
  }
}

.site-nav__list {
  display: flex
}

.site-nav__item:not(:last-child) {
  margin-right: 39px
}

.site-nav__button {
  position: relative;
  padding: 3px 0;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: 12px;
  line-height: 1.17;
  cursor: pointer;
  outline: none;
  opacity: .7
}

.site-nav__button:focus,.site-nav__button:hover {
  opacity: 1
}

.site-nav__button.is-active {
  opacity: 1;
  border-bottom: 3px solid #ff6b08
}

.search-form {
  position: relative;
  max-width: 336px;
  margin-right: auto;
  margin-left: auto;
  text-align: center
}

.search-form__input {
  width: 100%;
  padding: 4px 2px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #fff
}

.search-form__input::-webkit-input-placeholder {
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: normal;
  color: #fff
}

.search-form__input:-ms-input-placeholder {
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: normal;
  color: #fff
}

.search-form__input::-ms-input-placeholder {
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: normal;
  color: #fff
}

.search-form__input::placeholder {
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: normal;
  color: #fff
}

.search-form__button {
  position: absolute;
  top: 8px;
  right: 5px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer
}

.search-form__icon {
  position: absolute
}

.error-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center
}

@media (min-width: 768px) {
  .error-container {
      max-width:none
  }
}

.header__error {
  display: none;
  position: absolute;
  top: 20px;
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #ff001b
}

.library__list {
  display: none;
  justify-content: center;
  align-items: center
}

.library__item:not(:last-child) {
  margin-right: 20px
}

@media (min-width: 768px) {
  .library__item:not(:last-child) {
      margin-right:15px
  }
}

.library__delete {
  display: none;
  position: relative;
  align-items: center
}

.library__item--button {
  position: absolute;
  right: 50%;
  bottom: 0;
  transform: translateX(50%) translateY(125%)
}

.films__container {
  max-width: 100%;
  padding: 40px 20px
}

@media (min-width: 768px) and (max-width:1023px) {
  .films__container {
      padding:60px 75px
  }
}

@media (min-width: 1024px) {
  .films__container {
      padding:60px 70px
  }
}

.films__list {
  display: grid;
  padding: 60px auto;
  justify-content: center
}

@media (min-width: 768px) {
  .films__list {
      grid-gap:30px;
      grid-template-columns: repeat(2,1fr);
      max-width: 618px;
      margin: auto
  }
}

@media (min-width: 1024px) {
  .films__list {
      grid-gap:30px;
      grid-template-columns: repeat(3,1fr);
      min-width: 882px
  }
}

.films__message {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #ff6b08
}

.films__message.is-hidden {
  display: none
}

a {
  text-decoration: none
}

.film {
  list-style: none;
  border-radius: 5px;
  overflow: hidden;
  transition: box-shadow .25s cubic-bezier(.4,0,.2,1)
}

@media (min-width: 320px) and (max-width:767px) {
  .film {
      margin-bottom:20px
  }
}

.film:focus,.film:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,.12),0 4px 4px rgba(0,0,0,.06),1px 4px 6px rgba(0,0,0,.16)
}

.film__title {
  line-height: 1.3;
  text-transform: uppercase;
  color: #000
}

.film__info,.film__title {
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1.5
}

.film__info {
  display: flex;
  line-height: 1.1;
  color: #ff6b08
}

.film__content {
  padding: 10px
}

@media (min-width: 0px) and (max-width:320px) {
  .film__content {
      max-width:280px
  }
}

.film__img {
  max-height: 400px;
  border-radius: 5px
}

@media (min-width: 320px) and (max-width:767px) {
  .film__img {
      width:280px;
      height: 402px;
      object-fit: cover
  }
}

@media (min-width: 768px) and (max-width:1023px) {
  .film__img {
      width:294px;
      height: 398px;
      object-fit: cover
  }
}

@media (min-width: 1024px) {
  .film__img {
      width:274px;
      height: 398px;
      object-fit: cover
  }
}

.film__item {
  width: calc((100% - 60px)/3)
}

.film__genres {
  display: flex;
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 1.5;
  color: #ff6b08;
  padding-top: 2px;
  padding-right: 3px
}

.film__list__genre {
  margin-right: 3px
}

.film__average {
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 16px;
  border-radius: 5px;
  background-color: #ff6b01;
  color: #fff;
  padding-top: 1px
}

.back_to_top {
  display: none;
  position: fixed;
  text-align: center;
  right: 20px;
  bottom: 30px;
  opacity: .5;
  cursor: pointer
}

@media (min-width: 1024px) {
  .back_to_top {
      right:30px;
      bottom: 145px
  }
}

.back_to_top:hover {
  opacity: 1;
  transition: opacity .25s cubic-bezier(.4,0,.2,1)
}

.back_to_top-show {
  display: block
}

.footer {
  width: 100%;
  background-color: #f7f7f7;
  color: #545454;
  text-align: center
}

@media (min-width: 0px) and (max-width:320px) {
  .footer {
      font-family:Roboto,sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: normal;
      padding-top: 29px;
      padding-bottom: 30px;
      height: 100px
  }
}

@media (min-width: 320px) and (max-width:767px) {
  .footer {
      font-family:Roboto,sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: normal;
      padding-top: 29px;
      padding-bottom: 30px;
      height: 100px
  }
}

@media (min-width: 768px) and (max-width:1023px) {
  .footer {
      font-family:Roboto,sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.19;
      letter-spacing: normal;
      padding-top: 30px;
      padding-bottom: 28px;
      height: 77px
  }
}

@media (min-width: 1024px) {
  .footer {
      font-family:Roboto,sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.19;
      letter-spacing: normal;
      padding-top: 30px;
      padding-bottom: 28px;
      height: 77px
  }
}

@media (min-width: 0px) and (max-width:320px) {
  .footer__flex {
      display:inline;
      margin: auto
  }
}

@media (min-width: 320px) and (max-width:767px) {
  .footer__flex {
      display:inline;
      margin: auto
  }
}

@media (min-width: 768px) and (max-width:1023px) {
  .footer__flex {
      display:flex;
      flex-wrap: nowrap;
      justify-content: center
  }
}

@media (min-width: 1024px) {
  .footer__flex {
      display:flex;
      flex-wrap: nowrap;
      justify-content: center
  }
}

@media (min-width: 0px) and (max-width:320px) {
  .footer__flex--dev {
      display:flex;
      flex-wrap: wrap;
      justify-content: center
  }
}

@media (min-width: 320px) and (max-width:767px) {
  .footer__flex--dev {
      display:flex;
      flex-wrap: wrap;
      justify-content: center
  }
}

@media (min-width: 768px) and (max-width:1023px) {
  .footer__flex--dev {
      display:flex;
      flex-wrap: nowrap;
      justify-content: center
  }
}

@media (min-width: 1024px) {
  .footer__flex--dev {
      display:flex
  }
}

.footer__text {
  margin-bottom: 4px
}

.footer__heart {
  fill: #ff6b01;
  vertical-align: auto;
  color: #ff6b08
}

@media (min-width: 0px) and (max-width:320px) {
  .footer__heart {
      margin:1px 10px 0
  }
}

@media (min-width: 320px) and (max-width:767px) {
  .footer__heart {
      margin:1px 10px 0
  }
}

@media (min-width: 768px) and (max-width:1023px) {
  .footer__heart {
      margin:3.5px 10px 0
  }
}

@media (min-width: 1024px) {
  .footer__heart {
      margin:3.5px 10px 0
  }
}

.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.56);
  top: 0;
  left: 0;
  opacity: 0;
  overflow: auto;
  pointer-events: none
}

@media (min-width: 0px) and (max-width:320px) {
  .lightbox__body {
      display:flex;
      align-items: center;
      justify-content: center;
      min-height: 100%;
      padding: 20px
  }
}

@media (min-width: 320px) and (max-width:767px) {
  .lightbox__body {
      display:flex;
      align-items: center;
      justify-content: center;
      min-height: 100%;
      padding: 20px
  }
}

@media (min-width: 768px) and (max-width:1023px) {
  .lightbox__body {
      position:absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%) scale(1);
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 882px;
      min-height: 100%;
      z-index: 10
  }
}

@media (min-width: 1024px) {
  .lightbox__body {
      position:absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%) scale(1);
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 882px;
      min-height: 100%;
      z-index: 10
  }
}

.lightbox__content {
  color: #545454;
  background-color: hsla(0,0%,100%,.9);
  max-width: 800px;
  padding: 20px;
  position: relative;
  border-radius: 4px
}

.lightbox__title {
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  margin: 0;
  color: #000
}

@media (min-width: 0px) and (max-width:320px) {
  .lightbox__list {
      display:inline;
      margin: auto
  }
}

@media (min-width: 320px) and (max-width:767px) {
  .lightbox__list {
      display:inline;
      margin: auto
  }
}

@media (min-width: 768px) and (max-width:1023px) {
  .lightbox__list {
      display:flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: normal
  }
}

@media (min-width: 1024px) {
  .lightbox__list {
      display:flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: normal
  }
}

.lightbox__fourrowel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 3px 1px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.08),0 2px 2px rgba(0,0,0,.12);
  border-radius: 0 0 4px 4px;
  margin-top: 10px;
  padding-left: 10px
}

@media (min-width: 768px) and (max-width:1023px) {
  .lightbox__fourrowel {
      margin:20px 20px 0 0;
      width: calc((100% - 40px)/2);
      min-height: 100px
  }
}

@media (min-width: 1024px) {
  .lightbox__fourrowel {
      margin:20px 20px 0 0;
      width: calc((100% - 40px)/2);
      min-height: 100px
  }
}

@media (min-width: 768px) and (max-width:1023px) {
  .lightbox__fourrowel:nth-child(2n) {
      margin:20px 0 0
  }
}

@media (min-width: 1024px) {
  .lightbox__fourrowel:nth-child(2n) {
      margin:20px 0 0
  }
}

.lightbox__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: #ff6b08;
  fill: #000;
  cursor: pointer;
  outline: none;
  background-position: 50%;
  background-size: 30%;
  background-repeat: no-repeat
}

.lightbox__button:hover {
  transform: rotate(135deg)
}

.lightbox__img {
  border-radius: 50%;
  border: 2px solid #ff6b08
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: auto
}

.js-lightbox.is-open .lightbox__list {
  transform: scale(1)
}

.lightbox__button:focus,.lightbox__button:hover {
  background-color: rgba(0,0,0,.56);
  box-shadow: 0 3px 1px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.08),0 2px 2px rgba(0,0,0,.12)
}

.sociallinks {
  border-radius: 50%;
  padding: 10px
}

.sociallinks__icon {
  fill: #000
}

.sociallinks__icon:focus,.sociallinks__icon:hover {
  fill: #ff6b01
}

.comcontent {
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: normal;
  margin: 0;
  padding: 10px;
  text-align: left;
  width: 70%
}

.comcontent__name {
  color: #8c8c8c;
  margin: 0;
  padding-left: 10px
}

@media (min-width: 0px) and (max-width:320px) {
  .comcontent__name {
      font-family:Roboto,sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: normal
  }
}

@media (min-width: 320px) and (max-width:767px) {
  .comcontent__name {
      font-family:Roboto,sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: normal
  }
}

@media (min-width: 768px) and (max-width:1023px) {
  .comcontent__name {
      font-family:Roboto,sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.18;
      letter-spacing: normal
  }
}

@media (min-width: 1024px) {
  .comcontent__name {
      font-family:Roboto,sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.18;
      letter-spacing: normal
  }
}

.comcontent__subtitle {
  color: #ff6b08;
  padding-left: 10px;
  padding-top: 4px
}

@media (min-width: 0px) and (max-width:320px) {
  .comcontent__subtitle {
      font-family:Roboto,sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.12;
      letter-spacing: normal
  }
}

@media (min-width: 320px) and (max-width:767px) {
  .comcontent__subtitle {
      font-family:Roboto,sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.12;
      letter-spacing: normal
  }
}

@media (min-width: 768px) and (max-width:1023px) {
  .comcontent__subtitle {
      font-family:Roboto,sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: normal
  }
}

@media (min-width: 1024px) {
  .comcontent__subtitle {
      font-family:Roboto,sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: normal
  }
}

.lightbox__body.slideUpOut {
  -webkit-animation-name: fade-out;
  animation-name: fade-out;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards
}

@-webkit-keyframes fade-out {
  0% {
      opacity: 1
  }

  50% {
      opacity: .5
  }

  to {
      opacity: 1
  }
}

@keyframes fade-out {
  0% {
      opacity: 1
  }

  50% {
      opacity: .5
  }

  to {
      opacity: 1
  }
}

.lightbox__body.slideUpIn {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none
}

@-webkit-keyframes fade-in {
  0% {
      opacity: 0
  }

  50% {
      opacity: .5
  }

  to {
      opacity: 1
  }
}

@keyframes fade-in {
  0% {
      opacity: 0
  }

  50% {
      opacity: .5
  }

  to {
      opacity: 1
  }
}

.list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0
}

.backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgba(0,0,0,.56);
  height: 100%;
  width: 100%;
  transition: opacity .25s cubic-bezier(.4,0,.2,1);
  overflow-y: scroll;
  transform: translate(-50%,-50%);
  opacity: 0;
  z-index: 0;
  pointer-events: none
}

.btn__close {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  height: 30px;
  width: 30px;
  background-color: #fff;
  fill: #000;
  border: none;
  cursor: pointer;
  font-size: 32px;
  box-sizing: border-box
}

.btn__cross {
  margin-top: 3px;
  fill: #000
}

.modal__wrapper {
  position: fixed;
  top: 0;
  left: 50%;
  min-width: 280px;
  transform: translate(-50%)
}

@media (min-width: 0px) and (max-width:767px) {
  .modal__wrapper {
      padding-top:20px;
      padding-bottom: 20px
  }
}

@media (min-width: 768px) {
  .modal__wrapper {
      top:50%;
      transform: translate(-50%,-50%)
  }
}

.modal {
  position: relative;
  padding: 48px 20px 41px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  z-index: 0;
  transform: scale(1.25);
  overflow-y: scroll;
  transition: transform .25s cubic-bezier(.4,0,.2,1)
}

@media (min-width: 768px) and (max-width:1023px) {
  .modal {
      min-width:618px;
      max-height: 562px;
      padding: 42px 30px 40px 28px
  }
}

@media (min-width: 1024px) {
  .modal {
      padding:50px 30px 40.2px;
      min-width: 882px;
      max-height: 562px
  }
}

.modal::-webkit-scrollbar {
  width: 0;
  background: transparent
}

.modal-is-open {
  overflow: hidden
}

.backdrop.visually-shown {
  opacity: 1;
  pointer-events: all;
  z-index: 10000
}

.backdrop.visually-shown .modal {
  transform: scale(1);
  z-index: 10001
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  border: 0;
  padding: 0
}

@media screen and (min-width: 768px) {
  .modal__content {
      display:flex
  }
}

.modal__block {
  justify-content: center
}

@media (min-width: 768px) {
  .modal__block {
      width:calc((100% - 32px)/2)
  }
}

@media (min-width: 768px) and (max-width:1023px) {
  .modal__block:not(:last-child) {
      margin-right:32px
  }
}

@media (min-width: 1024px) {
  .modal__block {
      max-width:396px;
      max-height: 472px
  }

  .modal__block:not(:last-child) {
      margin-right: 30px
  }
}

.modal__image {
  display: block;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  max-height: 100%;
  object-fit: center;
  border-radius: 5px
}

@media (min-width: 0px) and (max-width:767px) {
  .modal__image {
      margin-bottom:30px
  }
}

.content-list__item {
  display: inline-block
}

.modal__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 21px;
  color: #000
}

@media (min-width: 1024px) {
  .modal__title {
      font-size:30px;
      line-height: 1.15
  }
}

.film-info {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 20px
}

.film-info__names {
  margin-right: 30px
}

@media (min-width: 1024px) {
  .film-info__names {
      width:120px
  }
}

.film-info__name {
  display: block;
  width: 73px;
  color: #8c8c8c
}

.film-info__name:not(:last-child) {
  margin-bottom: 10px
}

.film-info__values {
  width: 100%
}

.film-info__value {
  color: #000
}

.film-info__value:not(:last-child) {
  margin-bottom: 10px
}

.film-info__rate {
  display: inline-block;
  text-align: center;
  width: 36px;
  border-radius: 5px;
  background-color: #ff6b01;
  color: #fff
}

.description-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 10px
}

.description-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  margin-bottom: 20px
}

.button-list {
  display: flex
}

@media (min-width: 0px) and (max-width:1023px) {
  .button-list {
      justify-content:center
  }
}

.modal__btn {
  width: 112.58px;
  height: 44px
}

@media (min-width: 1024px) {
  .modal__btn {
      width:136px;
      height: 44px;
      margin-right: 15px
  }
}

.modal__btn--watched {
  margin-right: 10px;
  color: #fff;
  background: #ff6b01;
  border: none
}

.modal__btn--queue {
  color: #000;
  background: #fff;
  border: 1px solid #000
}

.button {
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: .25s
}

.button:focus,.button:hover {
  color: #fff;
  box-shadow: inset 0 0 0 23px #ff6b08;
  border: 0 solid #000
}

.button.is-active {
  background: #ff6b01;
  border: 1px solid #ff6b01
}

.button--library {
  min-width: 130px;
  padding: 14px 36px 12px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff
}

.button--library.is-active {
  box-shadow: 0 8px 43px rgba(255,107,1,.6)
}

@media (min-width: 768px) {
  .button--library {
      min-width:136px
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px
}

.pagination__list {
  max-width: 374px;
  height: 40px;
  background: rgba(0,0,0,.56);
  justify-content: space-between;
  background-color: #fff
}

.pagination__item,.pagination__list {
  display: flex;
  align-items: center;
  border-radius: 5px
}

.pagination__item {
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Roboto;
  color: #000;
  line-height: 1.33;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all .2s ease
}

.pagination__item.next,.pagination__item.prev {
  // background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyLjY2NyA4SDMuMzMzTTggMTIuNjY3TDMuMzMzIDggOCAzLjMzMyIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjEuMzMzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=) no-repeat 50%
}

.pagination__item.next {
  transform: rotate(180deg)
}

.pagination__item.next,.pagination__item.prev {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  background-color: #f7f7f7
}

.pagination__item.active,.pagination__item:hover {
  color: #fff;
  background-color: #ff6b01;
  height: 40px
}

.pagination__item.active {
  width: 40px
}

.is-hidden__spinner,.pagination.is-hidden {
  display: none
}

.sk-chase {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%
}

.sk-chase-dot:before {
  background-color: #ff6b08
}
